Options -Indexes
RewriteEngine On

# Não redirecionar arquivos/pastas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo passa pelo router
RewriteRule ^ router.php [L,QSA]
